server:
  port: 8082  # port on which api-gateway will run

spring:
  application:
    name: api-gateway  # application name that will be registered in eureka

#  configure microservice as client of the spring cloud config server
  config:
    import: optional:configserver:http://localhost:8012

#  Rabbit MQ connection details from Spring Cloud Bus - Dynamic Config Updates
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

  cloud:
    gateway:
#        The easiest way to enable gateway routing is to enable the DISCOVERY LOCATOR.
#        This makes the spring cloud api gateway automatically map and route http request to a
#        destination microservice provided the request is sent to the microservice using its
#        application-name configured in its properties file.
#      discovery:
#        locator:
#          enabled: true
#          lowerCaseServiceId: true
#      Manually Configuring API Gateway Routes
      routes:
        - id: users-status-check
          uri: lb://users-ws
          predicates:
            - Path=/users-ws/users/status/check
            - Method=GET
            - Header=Authorization, Bearer (.*)
          filters:
            - RemoveRequestHeader=Cookie
            - RewritePath=/users-ws/(?<segment>.*), /$\{segment} # can also be done using regular expressions
            - AuthorizationHeaderFilter

        - id: users-ws-create
          uri: lb://users-ws
          predicates:
            - Path=/users-ws/users/
            - Method=POST
          filters:
            - RemoveRequestHeader=Cookie
            - RewritePath=/users-ws/(?<segment>.*), /$\{segment} # can also be done using regular expressions

        - id: users-ws-login
          uri: lb://users-ws
          predicates:
            - Path=/users-ws/users/login
            - Method=POST
          filters:
            - RemoveRequestHeader=Cookie
            - RewritePath=/users-ws/(?<segment>.*), /$\{segment} # can also be done using regular expressions

        - id: users-ws-get-update-delete
          uri: lb://users-ws
          predicates:
            - Path=/users-ws/users/*
            - Method=GET,PUT,DELETE
            - Header=Authorization, Bearer (.*)
          filters:
            - RemoveRequestHeader=Cookie
            - RewritePath=/users-ws/(?<segment>.*), /$\{segment} # can also be done using regular expressions
            - AuthorizationHeaderFilter

#     Rewriting URL Path - using RewritePath Gateway Filter
#        - id: users-status-check
#          uri: lb://users-ws
#          predicates:
#            - Path=/users123/users/status/check
#            - Method=GET
#          filters:
#            - RemoveRequestHeader=Cookie
#            - RewritePath=/users123/users/status/check, /users/status/check
#            - RewritePath=/users123/(?<segment>.*), /$\{segment} # can also be done using regular expressions

eureka:
  client:
    # Fully qualified url by which client applications communicate with Eureka Server
    serviceUrl:
      defaultZone: http://localhost:8010/eureka

# expose spring boot actuator endpoints
management:
  endpoints:
    web:
      exposure:
        include: beans,health,routes,httptrace

token:
  secret: aa33caa30d07402ba60ef9c6145ba7e81sdasdajbsd # Random alphanumeric chars for now